torch==2.7.0+cu126
torchaudio==2.7.0+cu126
torchcodec==0.9.0
transformers==4.57.3
datasets==3.6.0
evaluate==0.4.6
jiwer==4.0.0
soundfile==0.13.1
librosa==0.11.0
accelerate>=0.26.0
tensorboard==2.20.0
tensorboardX==2.6.4